<div class="container exam">
  <p>
    Programming test: purpose of this short test is to assess your ability to solve elementary programming problems in
    a language of your choice.the link to take an exam
    http://etlcode.com/index.php/blog/info/Web-Programming/Easy-way-to-send-email-using-nodejs-and-expressyour
    solutions in Java if you are familiar with that language; otherwise use one of these languages: C, C++, or C#. For
    each of the problems below, write the simplest, clearest solution you can, in the form of a short program.
  </p>
  <h4 class="title is-4">
    Click start to begin
  </h4>
  <button class="button is-danger" (click)="startExam()">
    Start
  </button>
</div>