@font-face {
  font-family: PT Sans;
  src: url('src/fonts/PT-Sans.eot');
  src: url('src/fonts/PT-Sans.woff2') format('woff2'), url('src/fonts/PT-Sans.woff') format('woff'), url('src/fonts/PT-Sans.ttf') format('truetype'), url('src/fonts/PT-Sans.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

html, body {
  min-height: 100%;
  height: 100%;
  font-family: PT Sans !important;
  font-size: 16px;
}

body {
  background-color: #f5f5f5;
}

.table {
  margin-top: 32px;
}

.centered-form {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 150px;
}

.form {
  width: 380px;
  margin: auto;
  padding: 32px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.form header {
  text-align: center;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: bold;
}

.input.is-info {
  border: 2px solid #efefef;
  transition: 0.2s all;
}

.input.is-info:hover {
  border: 2px solid #ddd;
}

.input.is-info:focus {
  border: 2px solid #209cee;
}

.form .field {
  margin-top: 16px;
}

.button {
  font-weight: bold;
}

.w5 {
  width: 50px;
}
.w10 {
  width: 100px;
}

.w15 {
  width: 150px;
}
.navbar-item {
  font-size: 18px;
}

.admin.container {
  margin-top: 32px;
  padding: 32px;
  background-color: #fff;
}

.admin.container textarea {
  min-height: 150px;
}

.controller {
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}

.exam{
  min-height: 100%;
  height: 100%;
  padding: 24px;
}
.exam .field{
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}