<h1> </h1>
<div>{{staffresponse}}</div>
<!-- <p appInvitedir [result]="stuinfo.status">paragraph is visible or not</p> -->
<table class="table" table is-bordered>
  <thead>
    <tr>
      <th> ID </th>
      <th> NAME</th>
      <th> EMAIL ADDRESS</th>
      <th> EXAM</th>
      <th> STATUS</th>
      <th>SEND RESULT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let stuinfo of studentinfo;let idn=index'>
      <td>{{idn+1}}</td>
      <td>{{stuinfo.name}}</td>

      <td>{{stuinfo.email}}</td>
      <td>
        <button class="button is-link" type="submit" (click)='[sendinvitation(stuinfo.email,stuinfo.status)]'>Invite</button>
      </td>
      <div *ngIf=""></div>
      <td>{{stuinfo.status}}</td>
      <td>
        <p appIsdisabled [result]='stuinfo.status'><button class="button is-link" type="submit" (click)='[sendemail(stuinfo.email,stuinfo.status)]'>Send
          </button></p>

      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th> ID </th>
      <th> NAME</th>
      <th> EMAIL ADDRESS</th>
      <th> EXAM</th>
      <th> STATUS</th>
      <th>SEND RESULT</th>
    </tr>
  </tfoot>
</table>